@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {

    <script type="text/javascript">

        (function () {
            'use strict';

            var app = angular.module('realtor');

            //init data from server..
            app.value("initData", {
                isActive: @(ViewBag.Title == "SalesHistory" ? "false" : "true"),
                saleType: @Html.Raw(ViewData["SaleType"]),
                rentType: @Html.Raw(ViewData["RentType"]),
                buildType: @Html.Raw(ViewData["BuildType"])});

            //define controller
            app.controller('Controller', function ($scope, $timeout, $window, dataService, initData, $modal, $alert, usSpinnerService, Upload) {

                var request = {
                    buildType : 1,
                    saleType: 2,
                    rentType: 1,
                    isActive: initData.isActive
                }

                var modal = $modal({
                    scope: $scope,
                    templateUrl: 'modal.html',
                    placement: 'center',
                    show: false
                });

                var confirm = $modal({
                    scope: $scope,
                    templateUrl: 'confirm.html',
                    placement: 'center',
                    show: false
                });

                angular.extend($scope, {
                    total: 0,
                    initData: initData,
                    searchCondition: {
                        isActive: initData.isActive,
                        saleType: '',
                        rentType: '',
                        buildType: '',
                        type: 1,
                        word: '',
                        page: 1,
                        pageSize: 15,
                        no: '@ViewData["No"]'
                    },
                    request: {
                        saleType: 1,
                        buildType: 1
                    },
                    selectedNo : 0,
                    getBuildName: function(buildType) {
                        return initData.buildType[buildType];
                    },
                    getSaleName: function(saleType, rentType) {
                        if(saleType == 1) {
                            return initData.saleType[saleType];
                        } else {
                            return initData.rentType[rentType];
                        }
                    },
                    selectSaleType: function() {
                        if($scope.searchCondition.saleType != 2) {
                            $scope.searchCondition.rentType = null;
                        }

                        if($scope.request.saleType == 2) {
                            $scope.request.rentType = 1;
                        } else {
                            $scope.request.rentType = null;
                        }
                    },
                    openModal: function (no) {

                        if(no) {
                            $scope.modalTitle = "수정";

                            //update
                            dataService.get("/Sales/Load/" + no).success(function (data) {
                                $scope.request = data;

                                modal.$promise.then(modal.show);
                            });

                        } else {

                            //new/
                            $scope.request = angular.copy(request);
                            $scope.modalTitle = "신규";
                            $scope.request.registDate = moment();

                            modal.$promise.then(modal.show);
                        }
                    },
                    copyModal: function (no) {

                        $scope.modalTitle = "복사";
                        //update
                        dataService.get("/Sales/Load/" + no).success(function (data) {
                            $scope.request = data;
                            $scope.request.no = null;

                            modal.$promise.then(modal.show);
                        });

                    },
                    search: function (page, init) {

                        usSpinnerService.spin('loading');

                        if(page) {
                            $scope.searchCondition.page = page;
                        }

                        if(init) {
                            $scope.searchCondition.no = null;
                        }

                        dataService.get("/Sales/List", $scope.searchCondition).success(function (data) {

                            usSpinnerService.stop('loading');

                            $scope.salesList = data.list;
                            $scope.total = data.total;
                        });

                    },
                    submit: function() {
                        dataService.post("/Sales/Save", $scope.request).success(function (data) {

                            $alert({
                                title: '성공!',
                                content: '저장되었습니다.',
                                placement: 'top',
                                type: 'success',
                                duration: 2,
                                container: "#success",
                                show: true});

                            modal.$promise.then(modal.hide);

                            $scope.search();

                        });
                    },
                    selectPage: function(page) {
                        $scope.search(page);
                    },
                    exportData: function() {
                        $window.location = '/Sales/Export?isActive=' + initData.isActive;
                    },
                    uploadFiles: function (files, no) {

                        if (!files) return;;

                        Upload.upload({
                            url: '/Sales/Upload/' + no,
                            file: files
                        }).success(function (data, status, headers, config) {
                            if (data.result) {
                                $scope.request.files = data.files;
                                $scope.uploaded = true;
                                $timeout(function () {
                                    $scope.uploaded = false;
                                }, 1000);
                            }
                        }).error(function (data, status, headers, config) {
                            console.log('error status: ' + status);
                        })
                    },
                    deleteFile: function(fileName, no) {

                        dataService.post("/Sales/Delete/" + no, { fileName: fileName }).success(function (data) {

                            if (data.result) {
                                $scope.request.files = data.files;
                                $scope.uploaded = true;
                                $timeout(function () {
                                    $scope.uploaded = false;
                                }, 1000);
                            }

                        });
                    },
                    openConfirm: function(no) {
                        $scope.selectedNo = no;

                        confirm.$promise.then(confirm.show);
                    },
                    toggleActive: function() {
                        dataService.post("/Sales/Active/" + $scope.selectedNo).success(function (data) {

                            $alert({
                                title: '성공!',
                                content: '저장되었습니다.',
                                placement: 'top',
                                type: 'success',
                                duration: 2,
                                container: "#success",
                                show: true});

                            confirm.$promise.then(confirm.hide);

                            $scope.search();

                        });
                    }
                });

                $scope.search();
            });

        }());

    </script>

}

<div class="row">
    <div class="col-lg-12" id="success"></div>
</div>

<div class="row">

    <form name="searchForm" ng-submit="search(1, true)" novalidate ng-cloak>
        <div class="col-lg-12 form-group form-inline">
            <label class="radio-inline"><input type="radio" name="searchType" value="1" ng-model="searchCondition.type" />주소</label>
            <label class="radio-inline"><input type="radio" name="searchType" value="2" ng-model="searchCondition.type" />전화</label>
            <label class="radio-inline"><input type="radio" name="searchType" value="3" ng-model="searchCondition.type" />명칭</label>
            <input type="text" class="form-control" ng-model="searchCondition.keyword" />
            <select class="form-control" ng-model="searchCondition.saleType" ng-change="selectSaleType()">
                <option value="">전체</option>
                <option ng-repeat="(key, name) in initData.saleType" value="{{key}}">{{name}}</option>
            </select>
            <select class="form-control" ng-model="searchCondition.rentType" ng-disabled="searchCondition.saleType != 2">
                <option value="">전체</option>
                <option ng-repeat="(key, name) in initData.rentType" value="{{key}}">{{name}}</option>
            </select>
            <select class="form-control" ng-model="searchCondition.buildType">
                <option value="">전체</option>
                <option ng-repeat="(key, name) in initData.buildType" value="{{key}}">{{name}}</option>
            </select>
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
            <div class="pull-right">
                <button type="button" class="btn btn-default" ng-click="exportData()">
                    <i class="glyphicon glyphicon-print"></i>
                </button>
                <button type="button" class="btn btn-default" ng-click="openModal()">
                    <i class="glyphicon glyphicon-edit"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-lg-12">
        <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="loading"></span>
        <div class="table-responsive">
            <table class="table table-striped" ng-cloak>
                <thead>
                    <tr>
                        <th style="width:6%">종류</th>
                        <th style="width:6%">구분</th>
                        <th style="width:10%">명칭</th>
                        <th style="width:12%">주소</th>
                        <th style="width:8%">호수</th>
                        <th style="width:9%">금액</th>
                        <th style="width:5%">면적</th>
                        <th style="width:13%">소유자 전화</th>
                        <th style="width:13%">세입자 전화</th>
                        <th style="width:8%">내용</th>
                        <th style="width:8%">날짜</th>
                        <th style="width:2%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="sale in salesList">
                        <td>
                            <a ng-click="openConfirm(sale.no)">
                                <i class="glyphicon glyphicon-unchecked"></i>
                            </a>
                            {{getSaleName(sale.saleType, sale.rentType)}}
                        </td>
                        <td>{{getBuildName(sale.buildType)}}</td>
                        <td><a ng-click="openModal(sale.no)">{{sale.name}}</a></td>
                        <td>{{sale.address | limitTo: 15}}</td>
                        <td>{{sale.floor}}</td>
                        <td>{{sale.amount}}</td>
                        <td style="font-size:13px;">{{sale.width}}</td>
                        <td>{{sale.tel1}}</td>
                        <td>{{sale.renterTel1}}</td>
                        <td>{{sale.content | limitTo: 5}}</td>
                        <td>{{sale.registDate | date: 'yyyy-MM-dd'}}</td>
                        <td>
                            <a ng-click="copyModal(sale.no)">
                                <i class="glyphicon glyphicon-share"></i>
                            </a>
                        </td>
                    </tr>
                    <tr ng-show="salesList.length == 0">
                        <td colspan="12" class="text-center">검색 결과가 존재하지 않습니다.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 text-center">
        <div paging page="searchCondition.page" page-size="searchCondition.pageSize" total="total"
             show-prev-next="true" scroll-top="true" hide-if-empty="true"
             paging-action="selectPage(page, pageSize, total)"></div>
    </div>
</div>

<script type="text/ng-template" id="modal.html">

    <!-- Modal -->
    <div class="modal">
        <div class="modal-dialog large">
            <div class="modal-content">
                <form name="modalForm" class="form-horizontal" ng-submit="submit()" novalidate>
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="$hide()"><span>&times;</span></button>
                        <h4 class="modal-title">매물 정보 : {{modalTitle}}</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="control-label col-lg-2" ng-class="{'has-error': modalForm.saleType.$invalid || modalForm.rentType.$invalid}">종류</label>
                            <div class="col-lg-3 form-inline">
                                <select name="saleType" class="form-control"
                                        ng-options="key*1 as name for (key, name) in initData.saleType"
                                        ng-model="request.saleType" ng-change="selectSaleType()" ng-required="true"></select>
                                <select name="rentType" class="form-control"
                                        ng-options="key*1 as name for (key, name) in initData.rentType"
                                        ng-model="request.rentType" ng-show="request.saleType == 2" ng-required="request.saleType == 2"></select>
                            </div>
                            <label class="control-label col-lg-2" ng-class="{'has-error': modalForm.buildType.$invalid}">구분</label>
                            <div class="col-lg-4 form-inline">
                                <select name="buildType" class="form-control"
                                        ng-options="key*1 as name for (key, name) in initData.buildType"
                                        ng-model="request.buildType" ng-required="true"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div ng-class="{'has-error': modalForm.name.$invalid}">
                                <label class="control-label col-lg-2">명칭</label>
                                <div class="col-lg-3">
                                    <input type="text" name="name" class="form-control" ng-model="request.name" maxlength="15" ng-required="true" />
                                </div>
                            </div>
                            <label class="control-label col-lg-2">날짜</label>
                            <div class="col-lg-3">
                                <ng-calender ng-model="request.registDate" format="'YYYY-MM-DD'"></ng-calender>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': modalForm.address.$invalid}">
                            <label class="control-label col-lg-2">주소</label>
                            <div class="col-lg-9">
                                <input name="address" type="text" class="form-control" ng-model="request.address" maxlength="120" ng-required="true" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2">호수</label>
                            <div class="col-lg-3 form-inline">
                                <input type="text" class="form-control" ng-model="request.floor" maxlength="15" />
                            </div>
                            <div ng-class="{'has-error': modalForm.amount.$invalid}">
                                <label class="control-label col-lg-2">금액</label>
                                <div class="col-lg-3">
                                    <input type="text" name="amount" class="form-control" ng-model="request.amount" maxlength="15" ng-required="true" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2">소유자 성명</label>
                            <div class="col-lg-3 form-inline">
                                <input type="text" name="owner" class="form-control" ng-model="request.owner" maxlength="15" />
                            </div>
                            <label class="control-label col-lg-2">전용면적</label>
                            <div class="col-lg-3">
                                <input type="text" name="width" class="form-control" ng-model="request.width" maxlength="15" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2">소유자 전화</label>
                            <div class="col-lg-9 form-inline">
                                <input type="text" class="form-control" ng-model="request.tel1" maxlength="15" />
                                <input type="text" class="form-control" ng-model="request.tel2" maxlength="15" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2">세입자 전화</label>
                            <div class="col-lg-9 form-inline">
                                <input type="text" class="form-control" ng-model="request.renterTel1" maxlength="15" />
                                <input type="text" class="form-control" ng-model="request.renterTel2" maxlength="15" />
                            </div>
                        </div>
                        <div class="form-group" ng-if="request.no">
                            <label class="control-label col-md-2">계약서</label>
                            <div class="col-md-2">
                                <span class="btn btn-default" ng-model="files" ngf-select="uploadFiles($files, request.no)" multiple="multiple">파일첨부</span>
                                <span ng-show="uploaded" class="text-success"><i class="glyphicon glyphicon-ok"></i></span>
                            </div>
                            <div class="col-md-7">
                                <div class="form-control-static">
                                    <div ng-repeat="file in request.files.split(',')" ng-if="request.files">
                                        <a class="text-danger" ng-click="deleteFile(file, request.no)"><i class="glyphicon glyphicon-remove"></i></a>
                                        <a href="/Sales/Download/{{request.no}}?fileName={{file}}">{{file}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2">메모1</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" ng-model="request.memo1" maxlength="120" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2">메모2</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" ng-model="request.memo2" maxlength="120" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2">메모3</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" ng-model="request.memo3" maxlength="120" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2">내용</label>
                            <div class="col-lg-9">
                                <textarea class="form-control" rows="5" ng-model="request.content"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="$hide()">닫기</button>
                        <button type="submit" class="btn btn-success" ng-disabled="modalForm.$invalid || modalForm.$submitted">저장</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</script>

<script type="text/ng-template" id="confirm.html">

    <!-- Confirm -->
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 ng-show="initData.isActive">매물정보를 기록으로 보관하시겠습니까?</h3>
                    <h3 ng-show="!initData.isActive">매물기록을 활성화하시겠습니까?</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="$hide()">취소</button>
                    <a class="btn btn-danger btn-ok" ng-click="toggleActive()" ng-show="initData.isActive">기록보관</a>
                    <a class="btn btn-success btn-ok" ng-click="toggleActive()" ng-show="!initData.isActive">활성화</a>
                </div>
            </div>
        </div>
    </div>

</script>

